

@media only screen and (max-width: 768px){

    

    body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto;
        width: 768px;
        height: fit-content;
       
    }
    
    #section1{
        width: 100%;
        height: 641px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-image: url(./C4\ photos/girltablet.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
        background-position-y: bottom;
    }
    
    
    #headerS1{
        width: 100%;
        height: fit-content;
        padding-inline: 39px;
        padding-block: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    #skilledlogo{
        height: 35px;
    width: 89px;
    margin: 0;
    left: 39px;
    }
    #btn1{
        height: 48px;
    width: 140px;
    background-color: #13183F;
    border-radius: 28px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    }

    #section1div{
        width: 100%;
        height: 540px;
        display: flex;
        flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
        gap: 25px;
        padding-inline: 39px;
        padding-top: 60px;
    }

    
    #s1dH{
        width: 450px;
        height: 101px;
        color: #13183F;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    left: 39px;
    top: 171px;
    }
    #s1dP{
        height: 78px;
    width: 398px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    left: 39px;
    top: 290px;
    }
    #s1dBtn{
        height: 56px;
    width: 167px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    font-size: 16px;
    font-weight: 700px;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
    margin: 0px;
    left: 39px;
    top: 399px;
    }


    
    
    
    #section2{
        height: 999px;
    width: 100%px;
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    
    
    
    
    
    #introcard{
        height: 259px;
    width: 339px;
    border-radius: 10px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    padding-inline: 32px;
    padding-top: 56px;
    }
    .card{
        height: 259px;
    width: 339px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    padding-inline: 32px;
    display: flex;
    flex-direction: row;
        position: relative;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-end;
    }
    #card0H{
        height: 64px;
    width: 286px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    }
    .cardH{
        font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 25.2px;
    letter-spacing: 0px;
    text-align: left;
    color: #13183F;
    height: fit-content;
    width: fit-content;
    
    }
    .cardP{
        font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    height: fit-content;
    width: fit-content;
    color: #83869A;
    }
    
    .cardbtn{
        height: 28px;
    width: 104px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border: none;
    color: #F74780;
    background-color: white;
    white-space: nowrap;
    
    }
    .cardlogo{
        height: 56px;
    width: 56px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 227px;
    position: absolute;
    }
    .card:nth-child(2){
        order: 1;
    }
    
    .card:nth-child(4){
        order: 1;
    }
    footer{
        height: 120px;
    width: 768px;
    
    background-color: #13183F;
    display: flex;
    align-items: center;
        justify-content: space-between;
        padding-inline: 39px;
    }
    
    #footerlogo{
        height: 35px;
    width: 89px;
    
    }
    #fbtn{
        height: 48px;
    width: 140px;
    
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    border-radius: 28px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    border: none;
    }
    #btn1:hover{
        cursor: pointer;
        background-color: #666CA3;
    }
    #s1dBtn:hover{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
        cursor: pointer;
    }
    .cardbtn:hover{
        background-color: white;
        color: #FFA7C3;
        cursor: pointer;
    }
    }